In [3]:
import os
# Find the latest version of spark 3.x  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.3.1'
spark_version = 'spark-3.3.2'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 http://security.ubuntu.com/ubuntu focal-security InRelease
Hit:2 http://archive.ubuntu.com/ubuntu focal InRelease
Hit:3 https://cloud.r-project.org/bin/linux/ubuntu focal-cran40/ InRelease
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2004/x86_64  InRelease
Hit:5 http://archive.ubuntu.com/ubuntu focal-updates InRelease
Hit:6 http://archive.ubuntu.com/ubuntu focal-backports InRelease
Hit:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu focal InRelease
Hit:8 http://ppa.launchpad.net/cran/libgit2/ubuntu focal InRelease
Hit:9 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu focal InRelease
Hit:10 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu focal InRelease
Hit:11 http://ppa.launchpad.net/ubuntugis/ppa/ubuntu focal InRelease
Reading package lists... Done

In [4]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [8]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"

spark.sparkContext.addFile(url)

df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), header=True, inferSchema=True, quote="\"", escape="\"")

df.show()

+--------------------+-------------------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|               date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+-------------------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08 00:00:00|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13 00:00:00|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12 00:00:00|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16 00:00:00|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08 00:00:00|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30 00:00:00|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08 00:00:00|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21 00:00:00|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16 00:00:00|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06 00:00:00|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
|f876d86f-3c9f-42b...|2019-02-27 00:00:00|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|
|0a2bd445-8508-4d8...|2021-12-30 00:00:00|      2014|337527|       2|        3|       1926|   12556|     1|         0|  23|
|941bad30-eb49-4a7...|2020-05-09 00:00:00|      2015|229896|       3|        3|       2197|    8641|     1|         0|   3|
|dd61eb34-6589-4c0...|2021-07-25 00:00:00|      2016|210247|       3|        2|       1672|   11986|     2|         0|  28|
|f1e4cef7-d151-439...|2019-02-01 00:00:00|      2011|398667|       2|        3|       2331|   11356|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31 00:00:00|      2011|437958|       3|        3|       2356|   11052|     1|         0|  26|
|f233cb41-6f33-4b0...|2021-07-18 00:00:00|      2016|437375|       4|        3|       1704|   11721|     2|         0|  34|
|c797ca12-52cd-4b1...|2019-06-08 00:00:00|      2015|288650|       2|        3|       2100|   10419|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04 00:00:00|      2015|308313|       3|        3|       1960|    9453|     2|         0|   2|
|4566cd2a-ac6e-435...|2019-07-15 00:00:00|      2016|177541|       3|        3|       2130|   10517|     2|         0|  25|
+--------------------+-------------------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

In [9]:
# 2. Create a temporary view of the DataFrame.
df.createOrReplaceTempView('home_sales')

In [18]:
# 3. What is the average price for a four bedroom house sold in each year rounded to two decimal places?

spark.sql("""
SELECT 
  YEAR(date) AS year,
  ROUND(AVG(price), 2) AS average_price
FROM 
  home_sales
WHERE
  bedrooms = 4
GROUP BY 
  YEAR(date)
""").show()

+----+-------------+
|year|average_price|
+----+-------------+
|2022|    296363.88|
|2019|     300263.7|
|2020|    298353.78|
|2021|    301819.44|
+----+-------------+

In [19]:
# 4. What is the average price of a home for each year the home was built that have 3 bedrooms and 3 bathrooms rounded to two decimal places?

spark.sql("""
SELECT 
  YEAR(date) AS year,
  ROUND(AVG(price), 2) AS average_price
FROM 
  home_sales
WHERE
  bedrooms = 3
  AND
  bathrooms = 3
GROUP BY 
  YEAR(date)
""").show()

+----+-------------+
|year|average_price|
+----+-------------+
|2022|    292725.69|
|2019|    287287.82|
|2020|    294204.16|
|2021|    294211.46|
+----+-------------+

In [21]:
# 5. What is the average price of a home for each year built that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet rounded to two decimal places?

spark.sql("""
SELECT 
  YEAR(date) AS year,
  ROUND(AVG(price), 2) AS average_price
FROM 
  home_sales
WHERE
  bedrooms = 3
  AND
  bathrooms = 3
  AND
  floors = 2
  AND
  sqft_lot >= 2000
GROUP BY 
  YEAR(date)


""").show()

+----+-------------+
|year|average_price|
+----+-------------+
|2022|    287162.18|
|2019|    282752.72|
|2020|    293176.41|
|2021|    290319.06|
+----+-------------+

In [27]:
# 6. What is the "view" rating for the average price of a home, rounded to two decimal places, where the homes are greater than
# or equal to $350,000? Although this is a small dataset, determine the run time for this query.

start_time = time.time()

spark.sql("""
SELECT 
  YEAR(date) AS year,
  ROUND(AVG(price), 2) AS average_price,
  round(AVG(view),2) AS average_view
FROM 
  home_sales
WHERE
  price >= 350000
GROUP BY 
  YEAR(date)


""").show()


print("--- %s seconds ---" % (time.time() - start_time))

+----+-------------+------------+
|year|average_price|average_view|
+----+-------------+------------+
|2022|    471010.02|       31.59|
|2019|    478628.66|       32.77|
|2020|    476026.01|       31.94|
|2021|    468070.46|       32.39|
+----+-------------+------------+

--- 0.5064520835876465 seconds ---

In [24]:
# 7. Cache the the temporary table home_sales.

spark.sql("cache table home_sales")

DataFrame[]

In [25]:
# 8. Check if the table is cached.
spark.catalog.isCached('home_sales')

True

In [35]:
# 9. Using the cached data, run the query that filters out the view ratings with average price 
#  greater than or equal to $350,000. Determine the runtime and compare it to uncached runtime.

start_time = time.time()

spark.sql("""
SELECT 
  YEAR(date) AS year,
  ROUND(AVG(price), 2) AS average_price,
  round(AVG(view),2) AS average_view
FROM 
  home_sales
WHERE
  price >= 350000
GROUP BY 
  YEAR(date)


""").show()



print("--- %s seconds ---" % (time.time() - start_time))

+----+-------------+------------+
|year|average_price|average_view|
+----+-------------+------------+
|2022|    471010.02|       31.59|
|2019|    478628.66|       32.77|
|2020|    476026.01|       31.94|
|2021|    468070.46|       32.39|
+----+-------------+------------+

--- 1.114720106124878 seconds ---

In [32]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data 

df.write.partitionBy("date_built").mode("overwrite").parquet("home_sales_partitioned")

In [33]:
# 11. Read the parquet formatted data.
p_df = spark.read.parquet("home_sales_partitioned")

# New Section

In [34]:
# 12. Create a temporary table for the parquet data.

p_df.createOrReplaceTempView('p_home_sales')

In [36]:
# 13. Run the query that filters out the view ratings with average price of greater than or equal to $350,000 
# with the parquet DataFrame. Round your average to two decimal places. 
# Determine the runtime and compare it to the cached version.

start_time = time.time()

spark.sql("""
SELECT 
  YEAR(date) AS year,
  ROUND(AVG(price), 2) AS average_price,
  round(AVG(view),2) AS average_view
FROM 
  home_sales
WHERE
  price >= 350000
GROUP BY 
  YEAR(date)


""").show()


print("--- %s seconds ---" % (time.time() - start_time))

+----+-------------+------------+
|year|average_price|average_view|
+----+-------------+------------+
|2022|    471010.02|       31.59|
|2019|    478628.66|       32.77|
|2020|    476026.01|       31.94|
|2021|    468070.46|       32.39|
+----+-------------+------------+

--- 0.40959668159484863 seconds ---

In [37]:
# 14. Uncache the home_sales temporary table.


spark.sql("uncache table home_sales")

DataFrame[]

In [38]:
# 15. Check if the home_sales is no longer cached
spark.catalog.isCached('home_sales')

False